<div id="menu">
  <div class="well">
    <h3 style="text-align: center;">Menu</h3>
    <div class="accordion" id="accordion2">

      <% Menu.all.each do |menu| %>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%= menu.menu_name %>">
                <%= menu.menu_name %>
              </a>
            </div>
            <div id="<%= menu.menu_name %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <% menu.menu_items.each do |item| %>
                    <div class="btn btn-info btn-block item">
                      <%= item.item_name %><i class="icon-plus-sign pull-right" style="margin-right: 3px;"></i>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>

    </div>
  </div>
</div>


<div id='update_order'>
  <h1><%= Table.find(@order.table_id).table_name %> - Edit Order</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Item Name</th>
      <th>Note</th>
      <th></th>
    </tr>
    </thead>
    <tbody id="order_items">
        <% @order.customer_order_items.each do |item|
            id = item.id
            item_name = MenuItem.find(item.menu_item_id).item_name
            note = item.waitstaff_note
        %>
        <tr id="<%= @order.id %>">
        <td id="<%= id %>"><%= item_name %></td>
        <td><input type='text' class='note' style='width: 96%;' value='<%= note %>' /></td>
        <td><button class='btn btn-danger btn-small item_remove'>Remove</button></td>
        </tr>
        <% end %>
    </tbody>
  </table>
  <button id="submit_update" class = 'btn btn-info btn-small'>Update Order</button>
  <%= link_to 'Cancel', waitstaff_path, :method => 'post', :class => 'btn btn-danger btn-small' %>
</div>