<% content_for :sidebar do %>
    <%= render :template => 'layouts/menu_list' %>
<% end %>


<div id='update_order'>
  <h1><%= Table.find(@order.table_id).table_name %> - Edit Order</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Item Name</th>
      <th>Note</th>
      <th></th>
    </tr>
    </thead>
    <tbody id="order_items">
        <% @order.customer_order_items.each do |item|
            id = item.id
            item_name = MenuItem.find(item.menu_item_id).item_name
            note = item.waitstaff_note
        %>
        <tr id="<%= @order.id %>">
        <td id="<%= id %>"><%= item_name %></td>
        <td><input type='text' class='note' style='width: 96%;' value='<%= note %>' /></td>
        <td><button class='btn btn-danger btn-small item_remove'>Remove Item</button></td>
        </tr>
        <% end %>
    </tbody>
  </table>
  <button id="submit_update" class = 'btn btn-info btn-small'>Update Order</button>
  <%= link_to 'Cancel', waitstaff_path, :method => 'post', :class => 'btn btn-danger btn-small' %>
</div>