<%= form_for @customer_order_item, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :customer_order_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :customer_order_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :menu_item_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :menu_item_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_menu_item_ready, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :is_menu_item_ready, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :waitstaff_note, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :waitstaff_note, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                customer_order_items_path, :class => 'btn' %>
  </div>
<% end %>
