<%- model_class = UserTable -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @user_table.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:table_id) %>:</strong></dt>
  <dd><%= @user_table.table_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:assign_date) %>:</strong></dt>
  <dd><%= @user_table.assign_date %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              user_tables_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_table_path(@user_table), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_table_path(@user_table),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
