<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :username %><br />
  <%= f.text_field :username, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render "devise/shared/links" %>


<table class='table'>
  <caption><h4>Usernames and passwords</h4></caption>
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>User Type</th>
    </tr>
  </thead>
  <tbody>
<% UserType.all.each do |user_type| %>
    <% User.where(:user_type_id => user_type.id).each do |user| %>
        <tr>
          <td><%= user.username %></td>
          <td>password</td>
          <td><%= user_type.type_name %></td>
        </tr>
    <% end %>
<% end %>
  </tbody>
</table>