<div id="menu">
  <div class="well">
    <h3 style="text-align: center;">Menu</h3>
    <div class="accordion" id="accordion2">

      <% Menu.all.each do |menu| %>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%= menu.menu_name %>">
                <%= menu.menu_name %>
              </a>
            </div>
            <div id="<%= menu.menu_name %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <% menu.menu_items.each do |item| %>
                    <div id="<%= item.id %>" class="btn btn-info btn-block item">
                      <%= item.item_name %><i class="icon-plus-sign pull-right" style="margin-right: 3px;"></i>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>

    </div>
	<button id="add_menu_item" class="btn btn-success" style="display: none;">Add New Item</button>
  </div>
</div>