<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to sanitize('iServe'), '/home/index', :class => 'brand' %>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to 'Wait Staff', waitstaff_path %></li>
          <li><%= link_to 'Cashiers', cashier_path %></li>
          <li><%= link_to 'Kitchen Staff', kitchenstaff_path %></li>
          <li><%= link_to 'Management', management_path %></li>
        </ul>
      </div>
      <div class='pull-right'>
        <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-small' %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-small' %>
        <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-small' %>
            <%= link_to "Login", new_user_session_path, :class => 'btn btn-small' %>
        <% end %>
      </div>
    </div>
  </div>
</div>